body {
  margin: 0;
}

.app-container{
  display: flex;
  flex-direction: column;
}

.navbar{
  height: 8vh;
  display: flex;
  background-color: rgb(233, 227, 227);
  border-bottom: 1px solid grey;
}

.navbar-buttons{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar-packages{
  border: 1px solid blue;
  flex: 2;
  height: 100%;
}

.map-container{
  display: flex;
  height: 91vh;
}

.package-list{
  width: 25%;
  background-color: rgb(233, 227, 227);
}

.search-container{
  background-color: white;
  border-radius: 5px;
  padding: 1px;
  width: 300px;
}